* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Tahoma, Arial;
}

.container {
    width: 800px;
    margin: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.scroll-to-top {
    background-color: #333;
    color: #FFF;
    display: block;
    padding: 0px 5px 3px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 5px;
    color: #EEE;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar li a {
    color: #EEE;
    text-decoration: none;
}

.navbar li.active a {
    color: #ffea00;
}

/* End Headers */

/* Start Fixed Menus */

.fixed-menu {
    background-color: #333;
    color: #FFF;
    padding: 10px;
    position: fixed;
    left: -220px;
    top: 0;
    height: 100%;
    width: 220px;
    z-index: 9999;
}

.fixed-menu .icon-cog {
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: 90px;
    background-color: #333;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 0 10px 10px 0;
}

.fixed-menu .Change-colors li {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.fixed-menu .Change-colors [data-color="blue"] {
    background-color: #6c5ce7;
}

.fixed-menu .Change-colors [data-color="red"] {
    background-color: #e84393;
}

.fixed-menu .Change-colors [data-color="green"] {
    background-color: #55efc4;
}

.fixed-menu .Change-colors [data-color="purple"] {
    background-color: #be2edd;
}

/* End Fixed Menus */

/* Start Section */

.block {
    min-height: 600px;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 60px 0;
    /* text-align: center; */
}

/* Start Popup */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(187, 187, 187, 0.8);
    display: none;
}

.popup .inner {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px;
    width: 300px;
    height: 250px;
    left: 50%;
    position: fixed;
    margin-left: -150px;
    top: 50%;
    margin-top: -125px;
    border-radius: 5px;
}

.popup .inner h2 {
    color: #777;
    margin: 0 0 10px;
    border: 1px solid #EEE;
    padding-bottom: 10px;
}

.popup .inner p {
    color: #AAA;
    line-height: 1.6;
}

.popup .inner button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px;
    cursor: pointer;
}

.show-popup {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 20px;
    background-color: #fff;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #928440;
}

/* End Popup */

/* Start Error Message */

.error-message {
    padding: 10px;
    background-color: rgba(231, 76, 60, .7);
    color: #FFF;
    font-size: 20px;
    width: 600px;
    text-align: center;
    position: fixed;
    top: 60px;
    right: -100%;
    /*or -600px (Element Width)*/
    z-index: 9999;
}

/* End Error Message */

/* Start Buttons With Effects */

.bounce {
    background-color: #a00202;
    margin-top: 30px;
    position: relative;
}

/* End Buttons With Effects */

/* Start Progress Bar */

.animated-progress {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: #F6F6F6;
    margin: 20px 10px;
    border: 1px solid #CCC;
    overflow: hidden;
}

.animated-progress span {
    width: 0%;
    height: 100%;
    display: block;
    color: #EEE;
    line-height: 29px;
    text-indent: 10px;
}

.progress-blue span {
    background-color: #6c5ce7;
}

.progress-red span {
    background-color: #e84393;
}

.progress-green span {
    background-color: #55efc4;
}

.progress-purple span {
    background-color: #be2edd;
}

/* End Progress Bar */

/* Start Gallery */

.gallery {
    width: 800px;
    margin: auto;
    border: 1px solid #CCC;
    padding: 3px;
    background-color: #EEE;
}

.gallery img {
    max-width: 100%;
}

.gallery .master-img {
    height: 551px;
    position: relative;
}

.gallery .master-img i {
    padding: 10px;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 2;
}

.gallery .master-img .icon-chevron-left {
    left: 0;
}

.gallery .master-img .icon-chevron-right {
    right: 0;
}

.gallery .thumbnails {
    overflow: hidden;
}

.gallery .thumbnails img {
    width: 19.60%;
    float: left;
    border: 3px solid #bbb;
    cursor: pointer;
    transition: all .4s ease-in-out;
    opacity: .5;
}

.gallery .thumbnails img.selected {
    width: 19.60%;
    float: left;
    border: 3px solid #ad1f10;
    cursor: pointer;
    opacity: 1;
}

.gallery .thumbnails img:not(:last-child) {
    margin-right: 0.5%;
}

/* End Gallery */

/* Start Products */

.products {
    width: 800px;
    margin: 30px auto;
    overflow: hidden;
}

.products .product {
    width: 49%;
    float: left;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
}

.products .product:first-child {
    margin-right: 1%;
}

.products .product .date {
    display: block;
    color: #888;
    font-size: 12px;
    margin: 5px 0;
}

.products .product i {
    display: block;
    padding: 10px;
    background-color: #EEE;
    margin: 10px 0;
    cursor: pointer;
}

.products .product .description {
    padding: 10px;
    display: none;
}

/* End Products */

/* Start Items */

.items {
    width: 800px;
    margin: 30px auto;
    overflow: hidden;
}

.items .view-options {
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
}

.items .view-options i {
    float: right;
    margin-left: 10px;
}

.items .view-options i.active {
    color: #F54949;
}

.items.grid-view .item {
    width: 49%;
    float: left;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
}

.items.grid-view .item.first {
    margin-right: 1%;
}

.items.grid-view .item .date {
    display: block;
    color: #888;
    font-size: 12px;
    margin: 5px 0;
}

.items.grid-view .item i {
    display: block;
    padding: 10px;
    background-color: #EEE;
    margin: 10px 0;
    cursor: pointer;
}

.items.grid-view .item .description {
    padding: 10px;
    display: none;
}

.items.list-view .item {
    /* List View */
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
    position: relative;
    height: 122px;
    margin-bottom: 10px;
}

.items.list-view .item h3 {
    margin-top: 10px;
    margin-left: 113px;
}

.items.list-view .item .date {
    display: block;
    color: #888;
    font-size: 12px;
    margin: 5px 0 5px 113px;
}

.items.list-view .item img {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 110px;
}

.items.list-view .item i {
    display: none;
}

.items.list-view .item .description {
    margin: 0 0 0 113px;
    display: block;
}

/* End Items */

/* Start Buttons With Effects */

.buttons-effect {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    border: none;
    position: relative;
    overflow: hidden;
}

.buttons-effect span:first-child {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
}

.buttons-effect span:last-child {
    position: relative;
    z-index: 2;
}

.buttons-effect.from-left {
    background-color: #474787;
}

.buttons-effect.from-left span:first-child {
    background-color: #706fd3;
    width: 0;
    height: 100%;
}

.buttons-effect.from-top {
    background-color: #e84393;
}

.buttons-effect.from-top span:first-child {
    background-color: #fd79a8;
    width: 100%;
    height: 0;
}

.border-left, .border-top {
    border-radius: 0;
    background-color: #fff;
    color: #474787;
    overflow: visible;
}

.border-left span:first-child {
    background-color: #474787;
    width: 0;
    height: 3px;
    top: auto;
    bottom: -3px;
}

.border-top span:first-child {
    background-color: #474787;
    width: 3px;
    height: 0;
    left: -3px;
}

/* End Buttons With Effects */

/*Start Our Form */

.our-form {
    width: 800px;
    margin: auto;
}

/* .our-form form{
    width: 500px;
    margin: auto;
} */

.our-form form input, .our-form form textarea, .our-form .custom-file {
    /* display: block; */
    margin-bottom: 20px;
    width: 600px;
    /*100%*/
    margin-right: 10px;
}

.our-form input[type="text"], .our-form input[type="email"], .our-form input[type="password"], .our-form textarea {
    padding: 10px;
}

.our-form textarea {
    height: 180px;
}

.our-form .custom-file {
    background-color: #FFF;
    border: 1px solid rgb(169, 169, 169);
    position: relative;
    height: 40px;
}

.our-form .custom-file span {
    display: inline-block;
    padding: 8px 12px;
}

.our-form .custom-file .icon-upload-alt {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.our-form .custom-file input[type="file"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.our-form input[type="submit"] {
    padding: 15px;
    font-size: 16px;
}

.our-form .tags span {
    padding: 8px 10px;
    background-color: #dedede;
    display: inline-block;
    margin: 10px 10px 10px 0;
    border-radius: 8px;
    color: #6f6f6f;
}

.our-form .tags span i {
    margin-right: 5px;
    color: #969696;
    cursor: pointer;
}

.our-form .tags span i:hover {
    color: #333;
}

.our-form .the-message {
    display: none;
}

.our-form [placeholder] {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 16px;
}

/*End Our Form */

/* start Trimmed Text*/

.trimmed-texts {
    margin: auto;
    width: 800px;
}

.trimmed-texts p {
    background-color: #DDD;
    padding: 10px;
    margin-bottom: 20px;
}

/* End of Trimmed Text*/

/*  Start Same Height Div */

.same-height {
    overflow: hidden;
}

.same-height div {
    width: 30%;
    margin-right: 1%;
    float: left;
    background-color: #DDD;
    padding: 10px;
}

/*  End Same Height Div */

/* Start Shuffling Cards */

.cards {
    margin-top: 50px;
    position: relative;
    min-height: 300px;
    z-index: 1;
}

.cards .card {
    width: 150px;
    height: 150px;
    border: 2px solid #333;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    cursor: pointer;
}

.cards .card-one {
    background-color: #eb4d4b;
}

.cards .card-two {
    background-color: #6ab04c;
}

.cards .card-three {
    background-color: #7ed6df;
}

.cards .card-four {
    background-color: #e056fd;
}

.cards .card-five {
    background-color: #badc58;
}

.cards .card-six {
    background-color: #ffbe76;
}

.cards .card-seven {
    background-color: #22a6b3;
}

.cards .card-eight {
    background-color: #4834d4;
}

/* End Shuffling Cards */

/* Start Warning */

.blink-warning {
    background-color: #FFF;
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    color: #cc0d0D;
    border: 2px solid #10abd4;
    text-align: center;
}

/* End Warning */

/* Start ToDo List*/

.todo-list {
    width: 400px;
    margin: 20px auto;
    background-color: #FFF;
    border: 2px solid #FFF;
}

.todo-list h3 {
    margin: 0;
    padding: 15px;
    border-bottom: 2px solid #969696;
    background-color: #EFEFEF;
}

.tasks {
    list-style: none;
}

.tasks li {
    padding: 15px 20px;
    border-bottom: 1px dashed #CCC;
    color: #484848;
    cursor: pointer;
}

.add-task .task-input {
    padding: 15px 20px;
    border: none;
    width: 100%;
}

/* End ToDo List*/

/* Start WebSite Themes Colors*/

[data-default-color="blue"] .skin-color {
    color: #6c5ce7;
}

[data-default-color="blue"] .skin-background {
    background-color: #6c5ce7;
    color: #FFF;
}

[data-default-color="red"] .skin-color {
    color: #e84393;
}

[data-default-color="red"] .skin-background {
    background-color: #e84393;
    color: #FFF;
}

[data-default-color="green"] .skin-color {
    color: #55efc4;
}

[data-default-color="green"] .skin-background {
    background-color: #55efc4;
    color: #FFF;
}

[data-default-color="purple"] .skin-color {
    color: #be2edd;
}

[data-default-color="purple"] .skin-background {
    background-color: #be2edd;
    color: #FFF;
}

/* End WebSite Themes Colors*/

.typer {
    background-color: #FFF;
    padding: 10px;
    line-height: 24px;
}

/* Start Summary Table */

.summary {
    width: 100%;
    margin: 40px auto;
}

.summary td {
    background-color: #FFF;
    padding: 10px;
    vertical-align: middle;
}

.summary tr:first-child td {
    background-color: #444;
    color: #FFF;
}

.summary tr:last-child td:first-child {
    text-align: right;
}

/* End Summary Table */

/* Start Auto Changing Notes*/

.text-ticker {
    width: 400px;
    margin: 20px auto;
    background-color: #FFF;
    border: 1px solid #CCC;
}

.text-ticker h3 {
    padding: 15px;
    margin: 0;
    background-color: #EEE;
}

.text-ticker .ticker-list {
    list-style: none;
}

.text-ticker .ticker-list li {
    padding: 15px;
}

.text-ticker .ticker-list li:not(.active) {
    display: none;
}

/* End Auto Changing Notes*/

/* Start Dynamic Tabs */

.tabs-list li {
    padding: 15px 30px;
    background-color: #FFF;
    display: inline-block;
    position: relative;
    top: 1px;
    cursor: pointer;
    border: 1px solid #CCC;
}

.tabs-list .active, .tabs-list li:hover {
    color: #080;
}

.tabs-list .active {
    border-bottom: 1px solid #FFF;
    z-index: 2;
}

.content-list {
    border-bottom: 1px solid #FFF;
    background-color: #FFF;
    position: relative;
}

/*الأبن المباشر لهذا الكلاس */

.content-list>div {
    padding: 20px;
    min-height: 200px;
}

.content-list > div:not(:first-child) {
    display: none;
}

.switch-tabs{
    padding: 10px;
    background-color: #efefef;
    border: 1px solid #CCC;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}


.left-tabs{
    overflow: hidden;
}

.left-tabs .tabs-list,
.left-tabs .content-list {
    float: left;
}

.left-tabs .tabs-list li{
    display: block;
    top: 0;
    left: 1px;
}

.left-tabs .tabs-list li .active {
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #FFF;
}

.left-tabs .content-list{
    min-height: 300px;
    width: calc(100% - 103);
}
/* End Dynamic Tabs */


/* Start Email Suggest Box */
.email-suggest {
    margin: 20px 0 0;
    padding: 10px;
    width: 320px;
    border: 1px solid #CCC;
}

.suggest-box {
    margin: 15px 0 0;
    width: 320px;
    background-color: #FDFDFD;
    position: relative;
    border: 1px solid #e8e8e8;
    line-height: 1.8;
    color: #888;
}

.suggest-box:before {
    content: '';
    position: absolute;
    left: 10px;
    right: -20px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #FDFDFD;
}


.suggest-box li{
    padding: 10px;
    border: 1px dashed #ececec;
    cursor: pointer;
}

.suggest-box li:hover{
    background-color: #DDD;
}
/* End Email Suggest Box */
